<aside class='form-container'>
<h4>Add Individual Player Data</h4>

<div class='errors'>
 <% if @player.errors.any? %>
   <% @player.errors.full_messages.each do |error| %>
    <div><%= error %></div>
   <% end %>
 <% end %>
</div>

<%= form_for @player do |f| %>
<%= f.text_field :name, placeholder: 'Name' %><br>
<%= f.text_field :location, placeholder: 'Location' %><br>
<%= f.number_field :pitches_faced, placeholder: 'Pitches Faced' %><br>
<%= f.number_field :hits, placeholder: 'Hits' %><br>
<%= f.number_field :innings, placeholder: 'Innings Played' %><br>
<%= f.date_field :date, placeholder: 'Date' %>
<%= f.submit 'Submit' %>
<% end %>

<div class='upload'>
<h4>Upload CSV of Bulk Player Data</h4>
<%= form_for(@player, as: :bulk) do |f| %>
<%= f.file_field :file %>
<%= f.submit 'Upload' %>
<% end %>
CSV file must be in following format with no header row:<br>
<pre>player name, location, pitches
faced, hits, innings, date</pre>
Date format must be YYYY-MM-DD.
</div>
</aside>
