<div class='player'>
<h3><%= @player.name %></h3>

Location Scouted: <%= @player.location %><br>
Pitches Faced: <b><%= @player.pitches_faced %></b><br>
Hits: <b><%= @player.hits %></b><br>
Innings Played: <b><%= @player.innings %></b><br>
Date Scouted: <%= @player.date.strftime('%-m/%-d/%Y') %><br>
Comments: <span class='comments'><%= @player.comments %></span>
<div class='small'>
<%= link_to "Delete Player Data", @player, method: :DELETE, class: 'small' %>
</div>
</div>
<%= form_for @player, method: :PUT do |f| %>
<%= f.text_field :comments, placeholder: "comments" %>
<%= f.submit 'Update' %><br>
<% end %>
