<div class='player'>
<h2><%= @player.name %></h2>
Location Scouted: <%= @player.location %><br>
Pitches Faced: <%= @player.pitches_faced %><br>
Hits: <%= @player.hits %><br>
Innings Played: <%= @player.innings %><br>
Date Scouted: <%= @player.date.strftime('%-m/%-d/%Y') %>
</div>
