<!DOCTYPE html>
<html>
  <head>
    <title>BaseballNowRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Add Player Data', new_player_path %>
    </nav>
    <h1>BaseballNow</h1>
    <%= yield %>
  </body>
</html>
