<!DOCTYPE html>
<html>
  <head>
    <title>BaseballNowRails</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
    </script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Add Player Data', new_player_path, class: 'add-player-data' %>
    </nav>
    <h1>BaseballNow</h1>
    <%= yield %>
  </body>
</html>
